.resources {
    padding: 15%;
    display: inline-flex;
    flex-direction: column;
}

.section-header {
    font-weight: bold;
    font-size: 20px;
}

.block {
    display: flex;
    justify-items: flex-start;
    margin-top: 20px;
    text-align: left;
}

.text-label {
    flex-basis: 125px;
    word-wrap: break-spaces;
}

.dropdown {

}
